.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-search-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

.no-search-found img {
  width: 80%;
}

.search-heading {
  font-size: 18px;
  margin: 20px 0px;
}

@media screen and (min-width: 768px) {
  .home-page {
  }
  .home-min-page {
    margin: auto;
  }
  .no-search-found img {
    width: 400px;
  }
  .home-body {
    width: 80%;
    margin: auto;
  }
}

/* {/* <div className="search-page">
                        <h1>Search Results</h1>
                        {posts.length === 0 ? (
                          <div className="no-search-found">
                            <img
                              src="https://res.cloudinary.com/dxqbhqv2h/image/upload/v1682579953/Group_rtfv7v.png"
                              alt="no search found"
                            />
                            <h1>Search Not Found</h1>
                            <p>Try different keyword or search again</p>
                          </div>
                        ) : (
                          <ul>
                            {posts.map(item => (
                              <HomePost
                                id={item.post_id}
                                key={item.post_id}
                                post={item}
                              />
                            ))}
                          </ul>
                        )}
                      </div> */
